//
   Created by knyamagoudar on 5/6/17.

.div
    h1.page-header Dashboard
    .row.placeholders
        .col-xs-6.col-sm-3.placeholder
            img.img-responsive(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', width='200', height='200', alt='Generic placeholder thumbnail')
            h4 Label
            span.text-muted Something else
        .col-xs-6.col-sm-3.placeholder
            img.img-responsive(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', width='200', height='200', alt='Generic placeholder thumbnail')
            h4 Label
            span.text-muted Something else
        .col-xs-6.col-sm-3.placeholder
            img.img-responsive(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', width='200', height='200', alt='Generic placeholder thumbnail')
            h4 Label
            span.text-muted Something else
        .col-xs-6.col-sm-3.placeholder
            img.img-responsive(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', width='200', height='200', alt='Generic placeholder thumbnail')
            h4 Label
            span.text-muted Something else
    h2.sub-header Section title
    .table-responsive
        table.table.table-striped
            thead
                tr
                    th #
                    th Header
                    th Header
                    th Header
                    th Header
            tbody
                tr
                    td 1,001
                    td Lorem
                    td ipsum
                    td dolor
                    td sit
                tr
                    td 1,002
                    td amet
                    td consectetur
                    td adipiscing
                    td elit
                tr
                    td 1,003
                    td Integer
                    td nec
                    td odio
                    td Praesent
                tr
                    td 1,003
                    td libero
                    td Sed
                    td cursus
                    td ante
                tr
                    td 1,004
                    td dapibus
                    td diam
                    td Sed
                    td nisi
                tr
                    td 1,005
                    td Nulla
                    td quis
                    td sem
                    td at
                tr
                    td 1,006
                    td nibh
                    td elementum
                    td imperdiet
                    td Duis
                tr
                    td 1,007
                    td sagittis
                    td ipsum
                    td Praesent
                    td mauris
                tr
                    td 1,008
                    td Fusce
                    td nec
                    td tellus
                    td sed
                tr
                    td 1,009
                    td augue
                    td semper
                    td porta
                    td Mauris
                tr
                    td 1,010
                    td massa
                    td Vestibulum
                    td lacinia
                    td arcu
                tr
                    td 1,011
                    td eget
                    td nulla
                    td Class
                    td aptent
                tr
                    td 1,012
                    td taciti
                    td sociosqu
                    td ad
                    td litora
                tr
                    td 1,013
                    td torquent
                    td per
                    td conubia
                    td nostra
                tr
                    td 1,014
                    td per
                    td inceptos
                    td himenaeos
                    td Curabitur
                tr
                    td 1,015
                    td sodales
                    td ligula
                    td in
                    td libero