extends ../layouts/default.jade

block page-header
  h2 Todo

block content
  ol
    li Awesome! Now add some routes, models, views and controllers.
    li Change the content of&#32;
      code app/views/home/index.jade
