//
   Created by knyamagoudar on 5/3/17.


doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
        meta(name='description', content='')
        meta(name='author', content='')
        link(rel='icon', href='../../favicon.ico')
        title Dashboard Template for Bootstrap
        // Bootstrap core CSS
        link(href='/css/bootstrap.min.css', rel='stylesheet')
        // IE10 viewport hack for Surface/desktop Windows 8 bug
        link(href='../../assets/css/ie10-viewport-bug-workaround.css', rel='stylesheet')
        // Custom styles for this template
        link(href='/css/dashboard.css', rel='stylesheet')
        // Just for debugging purposes. Don't actually copy these 2 lines!
        //if lt IE 9
          script(src='../../assets/js/ie8-responsive-file-warning.js')
        //script(src='../../assets/js/ie-emulation-modes-warning.js')
        // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
        //if lt IE 9
          script(src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
          script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
    body
        nav.navbar.navbar-inverse.navbar-fixed-top
            .container-fluid
                .navbar-header
                    button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='#') Big Data Analytics in Healthcare
                #navbar.navbar-collapse.collapse
                    ul.nav.navbar-nav.navbar-right
                        li
                            a(id = 'dashboard', href='#') Dashboard
                        li.dropdown
                            a.dropdown-toggle(data-toggle='dropdown', href='#')
                                | Profile 
                                span.caret
                            ul.dropdown-menu
                                li
                                    a(href='#') My Profile
                                li
                                  a(href='#') Settings
                                li
                                  a(href='#') Sign out
                    form.navbar-form.navbar-right
                        input.form-control(type='text', placeholder='Search...')
        .container-fluid
            .row
                .col-sm-3.col-md-2.sidebar
                    ul.nav.nav-sidebar
                        li.active
                            a(id = 'dashboard', href='#')
                                | Overview
                                span.sr-only (current)
                        li
                            a(href='#') Reports
                        li
                            a(href='#') Analytics
                        li
                            a(id='addPatient', href='#') Add Patient
                        li
                            a(href='') View Patient
                        li
                            a(href='') Update Patient
                        
                   
                .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main(id="mainContainer")

        //
          Bootstrap core JavaScript
          ==================================================
        // Placed at the end of the document so the pages load faster
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
        //script.
            window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\\/script>')
        script(src='/js/bootstrap.min.js')
        script(src='/js/main.js')
        // Just to make our placeholder images work. Don't actually copy the next line!
        //script(src='/js/vendor/holder.min.js')
        // IE10 viewport hack for Surface/desktop Windows 8 bug
        //script(src='../../assets/js/ie10-viewport-bug-workaround.js')
