<center>
  <br />
  <a href="https://dsmbot.herokuapp.com/addquiz">Add New Quiz</a> |
  <a href="https://dsmbot.herokuapp.com/controlroom">Control Room</a> |
  <a href="https://dsmbot.herokuapp.com/result">Result</a> |
  <br />
  <hr width="100%" />
  <br /><br />
</center>
