<html>
  <head>
    <title>Add New Quiz</title>
  </head>
  <body>
    <script src="/js/addquiz.js"></script>
    ใส่จำนวนข้อที่ต้องการถาม: <input id="quiznumber" type="number" size="5" onkeyup="createQuizBox()"/>
  </body>
</html>
