<html>
  <head>
    <title>Quiz Control Room</title>
  </head>
  <body>
    <% include include/header.ejs %>
    <br />

    readyToStart :
    <% if(readyToStart) { %>
      <font id="ready" color="#00ff00"><strong>YES</strong></font>
    <% } else { %>
      <font id="ready" color="red"><strong>NO</strong></font>
    <% } %>
    <br />

    Enter Status :
    <% if(enterTime) { %>
      <font color="#00ff00"><strong>ONLINE</strong></font>
    <% } else { %>
      <font color="red"><strong>OFFLINE</strong></font>
    <% } %>
    <br />

    Quiz Status :
    <% if(isQuizOnline) { %>
      <font color="#00ff00"><strong>ONLINE</strong></font>
    <% } else { %>
      <font color="red"><strong>OFFLINE</strong></font>
    <% } %>
    <br />
    <br />

    Quiz Ready? :
    <br />
    <% if(quizReady) { %>

      <% quizReady.forEach((status, index)=>{ %>

        <%=index+1%>.
        <% if(status) { %>
          <font color="#00ff00"><strong>TRUE</strong></font>
        <% } else { %>
          <font color="red"><strong>false</strong></font>
        <% } %>
        <br />

      <% }) %>

    <% } else { %>
      <font color="red"><strong>NULL</strong></font>
    <% } %>

    <button onclick="changeReadyToStartAJAX()"> Start Quiz </button>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/control.js"></script>
  </body>
</html>
