<html>
  <head>
    <title>Quiz Result</title>
  </head>
  <body>
    <% include include/header.ejs %>
    <br />

    Enter Status :
    <% if(enterTime) { %>
      <font color="#00ff00"><strong>ONLINE</strong></font>
    <% } else { %>
      <font color="red"><strong>OFFLINE</strong></font>
    <% } %>
    <br />

    Quiz Status :
    <% if(isQuizOnline) { %>
      <font color="#00ff00"><strong>ONLINE</strong></font>
    <% } else { %>
      <font color="red"><strong>OFFLINE</strong></font>
    <% } %>
  </body>
</html>
