<html>
  <head>
    <title>Quiz Control Room</title>
  </head>
  <body>
    <% include include/header.ejs %>
    <br />

    <div style="text-align: center">

      Prepare Quiz :
      <% if(readyToStart) { %>
        <font id="ready" color="#00ff00"><strong>RUNNING</strong></font>
      <% } else { %>
        <font id="ready" color="red"><strong>WAIT FOR ACTION</strong></font>
      <% } %>

      <% if(!readyToStart) { %>
        <button id="prepareButton" onclick="changeReadyToStartAJAX()"> Run </button>
      <% } %>
      <br /><br /><br />

      Enter Status :
      <% if(enterTime) { %>
        <font id="enterStatus" color="#00ff00"><strong>OPEN</strong></font>
      <% } else { %>
        <font id="enterStatus" color="red"><strong>CLOSE</strong></font>
      <% } %>
      <br /><br />

      <div id="enterTimeButton">
        <% if(!readyToStart) { %>
          <button id="controlEnterTime" onclick="" disabled>Open Enter Session</button
        <% } else { %>

          <% if(enterTime) { %>
            <button id="controlEnterTime" onclick="changeEnterStatus('close')">Close Enter Session</button
          <% } else { %>
            <button id="controlEnterTime" onclick="changeEnterStatus('open')">Open Enter Session</button
          <% } %>
        <% } %>
      </div>

      <br /><br />

      Quiz Status :
      <% if(isQuizOnline) { %>
        <font id="quizOnlineStatus" color="#00ff00"><strong>ONLINE</strong></font>
      <% } else { %>
        <font id="quizOnlineStatus" color="red"><strong>OFFLINE</strong></font>
      <% } %>

      <div id="startQuizButton">
        <% if(readyToStart && enterTime) { %>
          <button id="controlStartQuiz" onclick="startQuiz()" disabled> Start Quiz </button>
        <% } else if(readyToStart && !enterTime){ %>
          <button id="controlStartQuiz" onclick="startQuiz()"> Start Quiz </button>
        <% } else if(!readyToStart) { %>
          <button id="controlStartQuiz" onclick="startQuiz()" disabled> Start Quiz </button>
        <% } %>
      </div>

    </div>

    <br />
    <br />

    Quiz Ready? :
    <br />
    <% if(quizReady) { %>

      <% quizReady.forEach((status, index)=>{ %>

        <%=index+1%>.
        <% if(status) { %>
          <span id=`q${index+1}Status` style="color: #00ff00"><strong>TRUE</strong></span>
        <% } else { %>
          <span id=`q${index+1}Status` style="color: #ff0000"><strong>false</strong></span>
        <% } %>
        <br />

      <% }) %>

    <% } else { %>
      <font id="quizReadyStatus" color="red"><strong>NO</strong></font>
    <% } %>



    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/control.js"></script>
  </body>
</html>
