<html>
  <head>
    <title>Quiz Control Room</title>
  </head>
  <body>
    <% include include/header.ejs %>
    <br />

    <div style="text-align: center">

      Quiz :
      <% if(readyToStart) { %>
        <font id="ready" color="#00ff00"><strong>RUNNING</strong></font>
      <% } else { %>
        <font id="ready" color="red"><strong>WAIT FOR ACTION</strong></font>
      <% } %>
      __________ <button onclick="changeReadyToStartAJAX()"> Start Quiz </button>
      <br /><br /><br />

      Enter Status :
      <% if(enterTime) { %>
        <font id="enterStatus" color="#00ff00"><strong>ONLINE</strong></font>
        <button id="changeEnterButton" <% (readyToStart) ? disabled : '' %> onclick="changeEnterStatus(close)" >Close Enter Session</button>
      <% } else { %>
        <font id="enterStatus" color="red"><strong>OFFLINE</strong></font>
        <button id="changeEnterButton" <% (readyToStart) ? disabled : '' %> onclick="changeEnterStatus(open)" >Open Enter Session</button>
      <% } %>
      <br /><br />

      Quiz Status :
      <% if(isQuizOnline) { %>
        <font id="quizOnlineStatus" color="#00ff00"><strong>ONLINE</strong></font>
      <% } else { %>
        <font id="quizOnlineStatus" color="red"><strong>OFFLINE</strong></font>
      <% } %>

    </div>

    <br />
    <br />

    Quiz Ready? :
    <br />
    <% if(quizReady) { %>

      <% quizReady.forEach((status, index)=>{ %>

        <%=index+1%>.
        <% if(status) { %>
          <span id=`q${index+1}Status` style="color: #00ff00"><strong>TRUE</strong></span>
        <% } else { %>
          <span id=`q${index+1}Status` style="color: #ff0000"><strong>false</strong></span>
        <% } %>
        <br />

      <% }) %>

    <% } else { %>
      <font id="quizReadyStatus" color="red"><strong>NO</strong></font>
    <% } %>



    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/control.js"></script>
  </body>
</html>
