<html>
  <head>
    <title>Quiz Result</title>
  </head>
  <body>
    <% include('/include/header.ejs') %>

    control
    Enter Status : <%= (enterTime) ? `<font color="green">ONLINE</font>` : `<font color="red">OFFLINE</font>` %>
    Quiz Status : <%= (isQuizOnline) ? `<font color="green">ONLINE</font>` : `<font color="red">OFFLINE</font>` %>
  </body>
</html>
