<html>
  <head>
    <title>DSBot - Quiz Bot</title>
  </head>
  <body>

    <div style="text-align: center;">
      <h1>DSBot Index</h2><br /><br />
      <img src="https://dsmbot.herokuapp.com/img/dslab.png" style="align: center;"/>
      This is temporary page for DSBot, a concept Facebook Messenger Bot for quiz show.<br /><br />
      You can read our <a href="https://dsmbot.herokuapp.com/policy">easy-to-understand privacy policy here</a>
    </div>

    <div>
      <h3>What is DSBot ?</h3>
      DSBot (temporary name) is a conceptual bot implemented using <a href="http://botmasterai.com/">Botmaster</a>
      framework on the top of Facebook Messenger Platform API to be a quiz game show interface through Facebook Messenger.
      <br /><br />

      <h3>How it works ?</h3>
      For now, the bot is activated when the server started and it will broadcast quiz invitation to all users in the system.
      Also open for the new users to enter at the same time when they interact with the bot.
      When users choose to participate (เข้าร่วม) in the opeing time frame, the system will treat them as participants and will broadcast questions when the game started.
      If users don't choose to participate or do nothing, they won't be able to play the game.
      Each question will be asked and users reply in limited time then, at the end of the game, users' score will be calculated and can be seen at the <a href="https://dsmbot.herokuapp.com/result">Result Page</a>.
      <br /><br />

      <h3>What's next ?</h3>
      DSBot will let System owner control time window / interval for each stage of the bot such as control how long the bot open for the participants, how long to wait before next question will be sent to users. (I'm working on it right now)
      <br /><br /><br />

      <h3>For Facebook tester team</h3>
      I think this kind of bot is new because I don't know any pages that using bot for quiz game. So, I'd like to know that have you guys seen something like this before?
      And, yes, I will let you experience DSBot yourselves. But DSBot is now running automactically when system started, so you need to wait for seconds

    </div>

  </body>
</html>
