<html>
  <head>
    <title>DsBot Privacy Policy</title>
  </head>
  <body>

    <div>
      <h1 style="text-align: center;">DsBot Privacy Policy</h2><br />
      <div style="text-align: center">
        <img src="https://dsmbot.herokuapp.com/img/dslab.png"/><br /><br />
      </div>
      <br /><br />
      DsBot is a Messenger Bot developed with Facebook Messenger Platform API.<br /><br />
      Information our bot collects is the one provided by Facebook's User Profile API :<br />
      <ul>
        <li>
          Page Scope ID (PSID)
        </li>
        <li>
          Facebook Name (Firstname & Lastname)
        </li>
        <li>
          Gender
        </li>
        <li>
          Profile picture
        </li>
        <li>
          Local timezone
        </li>
      </ul>
      All Infomation will be collected instantly when user interact with DsBot first time and will be used to identify each user.<br />
      ie: PSID is used to send message back to the user, Facebook Name and Profile picture are used to visualize the result at the end of the quiz.
    </div>

  </body>
</html>
